<%= link_to bottle do %>
  <figure class="bottle">
    
    <%= raw bottle_img(bottle) %>
    
    <div class="price">
      <span><%= bottle.price_string %></span>
    </div>
    
    <figcaption>
      <%= bottle.name %>
    </figcaption>

  </figure>
<% end %>
