<%
  @sort_by = "color"
%>

<div class="row">
  <div class="container ninecol">
    <h1>Listing Bottles</h1>
  </div>
  <div id="sort" class="container threecol">
    <span>Sort by</span>
    <select>
      <option value="none">None</option>
      <option value="price">Price</option>
      <option value="color">Color</option>
    </select>
  </div>
</div>

<% if @sort_by == "none" %>
  <div class="row">
    <div class="container">
      <h2>All Bottles</h2>
      <%= render 'bottles' %>
      <br /><br />
    </div>
  </div>
<% end %>

<%
  if @sort_by == "color"
    nailpolish_colors.each do |nailpolish_color|
    @bottles = Bottle.all(:color => nailpolish_color)
    if @bottles.size > 0
%>
  <div class="row">
    <div class="container">
      <h2><%= nailpolish_color %> Varnishes</h2>
      <%= render 'bottles' %> 
      <br /><br /> 
    </div>
  </div>
<%
      end
    end
  end
%>
