<div id="welcome" class="container ninecol">
  <h1>Welcome to Varnishes</h1>
  <p>Varnishes is a nail polish database where you can keep track of your bottle collection and explore other nail polish brands and colors.</p>
</div>

<div id="login" class="container threecol">
  <%= render '/session/form' %>
</div>
