// Place all the styles related to the Bottles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variablemixins";

form {
  img {
    float: left;
    margin: 0px 20px 20px 0px;
    border: 1px solid rgba(0,0,0,0.4);
  }
}

.actions-bottle {
  position: absolute; top: 0px; right: 0px;
  
  #actions-own, #actions-want {
    display: block;
    margin-top: 10px;
    padding: 4px 0px;
    @include button-background($dark-beige);
    color: $white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    font-size: 1.0em;
    width: 100%;
  }
  
  #actions-back {
    @include icon-button($blue);
  }
  
  #actions-edit {
    @include icon-button($green);
  }
  
  #actions-delete {
    @include icon-button($red);
  }
}

.add-bottle {
  float: left;
  color: $dark_beige;
  padding: 45px 10px;
  font-size: 5em;
  cursor: pointer;
}

.show-bottle {
  position: relative;
  
  img {
    float: left;
    margin-right: 20px;
    border: 1px solid rgba(255,255,255,0.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    max-height: 100%;
  }
}


.bottle {
  float: left;
  margin: 0px 20px 20px 0px;
  padding: 0px;
  position: relative;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
  
  &:hover {
    opacity: 1.0;
  }
  
  img {
    border-radius: 10px 10px 0px 0px;
  }
  
  figcaption {
    position: absolute; bottom: -60px; left: 0px;
    background: rgba(255,255,255,0.8);
    text-align: center;
    width: 100%;
    @include transition(all 0.3s ease-in-out);
  }
  
  &:hover figcaption {
    bottom: 0px;
  }
  
  .price {
    position: absolute; top: 0px; right: 0px;
    background: url('price_tag.png');
    width: 80px; height: 80px;
    
    span {
      display: inline-block;
      position: absolute; top: 9px; right: -10px;
      
      font-size: smaller;
      text-align: center;
      width: 70px;
      @include rotate(40deg);
    }
  }
}

.dollar-sign {
  display: block;
  padding: 4px 4px 4px 0px;
  float: left;
}
