@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import "variablemixins";

$footer_height: 40px;

html {
  width: 100%;
  height: 100%;
}

body {
  @include gradient-background(lighten($beige,10%), $beige);
  background-attachment: fixed;
  color: $black;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  height: 100%;
}

h1 {
  margin: 0px;
  padding: 0px;
  color: $dark_beige;
  font-size: 2em;
}

h2 {
  margin: 0px;
  padding: 0px;
  color: $pink;
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}

.accent-wall {
  margin-top: -30px;
  padding: 30px 0px;
  position: relative;
  @include gradient-background($beige, darken(desaturate($beige, 20%), 30%));
  text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.8);
  box-shadow: 0px 0px 100px rgba(0,0,0,0.3);
  width: 100%;
  
  h2 {
    margin-top: -15px;
    color: darken($dark-beige, 20%);
  }
  
  p {
    margin: 0px;
    padding: 5px 0px;
  }
}

label {
  font-weight: bold;
  
  &.radio {
    font-weight: normal;
  }
}

#notice {
  display: inline-block;
  visibility: visible;
  margin: 0px; margin-bottom: 10px;
  padding: 10px 0px;
  position: relative; top: -20px;
  @include gradient-background(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
  color: $white;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  width: 100%; height: 20px;
}

/* NAV BAR STUFF */
.navbar {
  a {
    margin-left: 5px;
  }
  
  a.brand {
    font-family: 'Kaushan Script', cursive;
  }
  
  .navbar-text {
    padding-right: 10px;
  }
}

/* FOOTER STUFF */
#wrapper {
  margin: 0 auto;
  margin-bottom: -$footer_height;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  
  .push {
    height: $footer_height;
  }
}

#footer {
  height: $footer_height;
  
  p {
    margin: -5px 0px;
    padding: 0px;
    color: $dark_beige;
    font-size: small;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
    text-align: center;
  }
}
